#user-graph {
	height: 100%;
}

#stocks_data {
	max-height: 300px;
	overflow-y: scroll;

}
#shared-stocks {
}

nav {
	min-height: 50px;
	text-align: center;
	padding: 0 0 10px 0;
}

nav a {
	margin: 0 5px;
}

dl {
}

dt {
	float: left;
	text-align: left;
	margin: 0px;
	width: 70%;
}

dd {
	float: right;
	text-align: right;
	margin: 0px;
	width: 30%;
}

#node-data {

}
.container {
	width: 80%;
	margin: 0 auto;
}

.container p {
	margin: 0 10px;
}
/**
 * (C)Leanest CSS spinner ever
 */

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress {
	position: relative;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}

.small.progress {
	font-size: 6px;
}

.large.progress {
	font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
	background: #555;
}

.progress:after {
	transform: rotate(-45deg);
	background: #777;
}

.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}